.row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.row__wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.row__center {
  justify-content: center;
  -webkit-justify-content: center;
}

.row__space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.row__space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.align-items-center {
  align-items: center;
  -webkit-align-items: center;
}

.column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.column__center {
  justify-content: center;
  -webkit-justify-content: center;
}
