@import url('https://fonts.googleapis.com/css?family=Modak|Roboto');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 100rem;
}

.tetatet-logo {
  color: #EF5350;
  font-family: 'Modak', cursive;
  font-size: 3.4rem;
  font-weight: 300;
}

.yelpListItem-image {
  height: 10rem;
  width: auto;
}
